#root {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.grid-frame{
  width: 100%;
  height: 100%;
  border: 1px solid blanchedalmond;
  overflow: "auto";
  display: flex;
  justify-content: center;
  align-items: center;
}
